* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  main {
    color: black;
    margin: 0 2em;
    padding: 8px 16px;
  }
  
  header {
    background-color: #191970;
    width: 100%;
  }
  
  header img {
      position: absolute;
      top: 1rem;
      right: 10%;
      z-index: 5;
      width: auto;
      max-width: 15vw;
      height: auto;
  }
  
  footer {
    padding: 1vw;
    text-align: center;
    background-color: #4682B4;
    color: #90EE90;
    clear: both;
  }
  
  footer h2 {
    color: #008000;
  }
  
  /* heading styles */
  h1 {
    font-family: cursive;
    font-size: 5vw;
    color: #66CDAA;
    text-align: center;
    text-shadow: 3px 2px 5px black;
    padding: 2vw;
    margin: 0px;
  }
  
  h2,
  h3,
  h4,
  h5,
  dt,
  legend {
    color: brown;
    font-family: cursive;
    padding-top: 1em;
  }
  
  /* figures and images */
  article {
    content: "";
    clear: both;
    display: table;
    border: solid medium black;
    border-radius: 10px;
    width: 90%;
    max-width: 900px;
    min-width: 500px;
    margin: 1vw auto;
  }
  
  article h3 {
    margin-top: 0;
    padding: 20px 20vw 30px;
    background-color: #008080;
    border-radius: 7px 7px 0 0;
  }
  
  article>p {
    margin: 50px;
  }
  
  figure {
    float: left;
    width: 35vw;
    margin: 2vh 0;
  }
  
  article:nth-child(even)>figure {
    float: left;
  }
  
  figure img {
    display: block;
    height: 185px;
    width: 185px;
    margin-left: auto;
    margin-right: auto;
  }
  
  figcaption {
    text-align: center;
    clear: both;
    color: #2E6C85;
  }
  
  p {
    line-height: 1.35;
    margin-top: 1em;
  }